<?xml version="1.0" encoding="utf-8" ?>
<GameData xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <playerData>
      <idlePath>PlatformerGraphicsDeluxe/Player/p1_stand</idlePath>
      <jumpPath>PlatformerGraphicsDeluxe/Player/p1_jump</jumpPath>
      <walkAnimationPath>PlatformerGraphicsDeluxe/Player/p1_walk/PNG/</walkAnimationPath>
      <walkAnimation>
         <baseName>p1_walk</baseName>
         <frameDimensions>
            <X>72</X>
            <Y>97</Y>
         </frameDimensions>
         <numFrames>11</numFrames>
         <frameDuration>100</frameDuration>
      </walkAnimation>
      <inputScale>
         <X>800</X>
         <Y>19600</Y>
      </inputScale>
      <maxSpeed>500</maxSpeed>      
      <dragFactor>
         <X>0.9</X>
         <Y>1</Y>
      </dragFactor> 
      <gravity>981</gravity>
      <maxJumps>2</maxJumps>
      <startHealth>3</startHealth>
      <damageImmunityDuration>1.0</damageImmunityDuration>
   </playerData>
   <levelConstants>
      <tileSize>
         <X>32</X>
         <Y>32</Y>
      </tileSize> 
      <tileResolution>70</tileResolution>
      <tileFilePath>PlatformerGraphicsDeluxe/Tiles/</tileFilePath>
      <itemFilePath>PlatformerGraphicsDeluxe/Interactables/</itemFilePath>
      <enemyFilePath>PlatformerGraphicsDeluxe/Enemies/</enemyFilePath>
      <mapFilePath>Maps/</mapFilePath>
      <startLevelName>smallGrass</startLevelName>
      <coinValue>1</coinValue>
      <entitySpecifications>
         <spec>
            <entityName>GrassTile</entityName>
            <entityData xsi:type="TileData">
               <textureName>grassMid</textureName>
               <collisionMode>solid</collisionMode>
            </entityData>
         </spec>
         <spec>
            <entityName>GrassTileInner</entityName>
            <entityData xsi:type="TileData">
               <textureName>grassCenter</textureName>
               <collisionMode>solid</collisionMode>
            </entityData>
         </spec>
         <spec>
            <entityName>SnowTile</entityName>
            <entityData xsi:type="TileData">
               <textureName>snowMid</textureName>
               <collisionMode>solid</collisionMode>
            </entityData>
         </spec>
         <spec>
            <entityName>SnowTileInner</entityName>
            <entityData xsi:type="TileData">
               <textureName>snowCenter</textureName>
               <collisionMode>solid</collisionMode>
            </entityData>
         </spec>
         <spec>
            <entityName>CastleTile</entityName>
            <entityData xsi:type="TileData">
               <textureName>castleCenter</textureName>
               <collisionMode>solid</collisionMode>
            </entityData>
         </spec>
         <spec>
            <entityName>BoxTile</entityName>
            <entityData xsi:type="TileData">
               <textureName>boxAlt</textureName>
               <collisionMode>solid</collisionMode>
            </entityData>
         </spec>
         <spec>
            <entityName>LavaTile</entityName>
            <entityData xsi:type="TileData">
               <textureName>liquidLavaTop_mid</textureName>
               <collisionMode>lava</collisionMode>
            </entityData>
         </spec>
         <spec>
            <entityName>DoorTopTile</entityName>
            <entityData xsi:type="TileData">
               <textureName>door_openTop</textureName>
               <collisionMode>empty</collisionMode>
            </entityData>
         </spec>
         <spec>
            <entityName>GoldCoin</entityName>
            <entityData xsi:type="InteractableData">
               <textureName>coinGold</textureName>
               <interactableType>coin</interactableType>
            </entityData>
         </spec>
         <spec>
            <entityName>GoldBox</entityName>
            <entityData xsi:type="InteractableData">
               <textureName>boxCoinAlt</textureName>
               <interactableType>coin</interactableType>
            </entityData>
         </spec>
         <spec>
            <entityName>Door</entityName>
            <entityData xsi:type="InteractableData">
               <textureName>door_openMid</textureName>
               <interactableType>nextLevel</interactableType>
            </entityData>
         </spec>
         <spec>
            <entityName>Heart</entityName>
            <entityData xsi:type="InteractableData">
               <textureName>heart</textureName>
               <interactableType>extraLife</interactableType>
            </entityData>
         </spec>
         <spec>
            <entityName>FireballPickup</entityName>
            <entityData xsi:type="PowerupData">
               <textureName>boxItem</textureName>
               <interactableType>powerup</interactableType>
               <powerupType>fireball</powerupType>
            </entityData>
         </spec>
         <spec>
            <entityName>InvincibilityPickup</entityName>
            <entityData xsi:type="PowerupData">
               <textureName>boxItem</textureName>
               <interactableType>powerup</interactableType>
               <powerupType>invincibility</powerupType>
            </entityData>
         </spec>
         <spec>
            <entityName>Slime</entityName>
            <entityData xsi:type="EnemyData">
               <enemyType>slime</enemyType>
               <health>1</health>
               <damage>1</damage>
               <invincible>false</invincible>
               <solid>false</solid>
               <animationData>
                  <baseName>slimeWalk</baseName>
                  <frameDimensions>
                  <X>51</X>
                  <Y>28</Y>
                  </frameDimensions>
                  <numFrames>2</numFrames>
                  <frameDuration>500</frameDuration>
               </animationData>
               <corpseTextureName>slimeDead</corpseTextureName>
            </entityData>
         </spec>
         <spec>
            <entityName>Fly</entityName>
            <entityData xsi:type="EnemyData">
               <enemyType>fly</enemyType>
               <health>1</health>
               <damage>1</damage>
               <invincible>false</invincible>
               <solid>false</solid>
               <animationData>
                  <baseName>flyFly</baseName>
                  <frameDimensions>
                  <X>75</X>
                  <Y>36</Y>
                  </frameDimensions>
                  <numFrames>2</numFrames>
                  <frameDuration>100</frameDuration>
               </animationData>
               <corpseTextureName>flyDead</corpseTextureName>
            </entityData>
         </spec>
         <spec>
            <entityName>Blocker</entityName>
            <entityData xsi:type="EnemyData">
               <enemyType>blocker</enemyType>
               <health>1</health>
               <damage>0</damage>
               <invincible>true</invincible>
               <solid>true</solid>
               <animationData>
                  <baseName>blockerMad</baseName>
                  <frameDimensions>
                  <X>51</X>
                  <Y>51</Y>
                  </frameDimensions>
                  <numFrames>1</numFrames>
                  <frameDuration>100</frameDuration>
               </animationData>
               <corpseTextureName>blockerSad</corpseTextureName>
            </entityData>
         </spec>
      </entitySpecifications>
   </levelConstants>
</GameData>